body{
    background-color: skyblue;
    color: white;
    font-family: helvetica;
    color: white;
}

.weather{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.weatherHourly{
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
}

