nav{
    margin-top: 1em;
    font-size: 2em;
}

nav > ul{
    background-color: yellow;
    height: 50vh;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.logo{
    order: 3;
}

.link2{
    order: 1;
}

.link3{
    order: 2;
}

.link4{
    order: 4;
}

.link5{
    order: 5;
}

