body{
    font-family: Oswald;
}

h1{
    font-family: 'Playfair Display';
    font-size: 2.4rem;
}

article{
    flex: 1 1 0%;
    padding: 1em;
}

article img{
    max-width: 100%;
    width: 100%;
}

@media ( min-width: 60em ){
    body{
        background-color: ;
    }
    section{
        display: flex;
    }
    
    section article:first-child{
        flex-grow: 2;
    }
    
}